@charset "UTF-8";

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/Muller Regular"), url("../fonts/Muller-Regular"), url("../fonts/MullerRegular.woff2") format("woff2"), url("../fonts/MullerRegular.woff") format("woff"), url("../fonts/MullerRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: Muller;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
}

ul,
li {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin: auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1027px;
  width: 100%;
  margin: 0 auto;
}

.header {
  margin-top: 50px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.phone-number {
  display: block;
  margin-left: 15px;
  margin-right: 90px;
}

.heading-red {
  color: #d02b38;
  margin-bottom: 2px;
  font-family: Muller;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 143.69%;
  line-height: 23px;
}

.heading-normal {
  font-family: Muller;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 143.69%;
  color: #000000;
}

.img-facebook {
  margin-right: 25px;
}

.img-instagram {
  margin-right: 100px;
}

.logo {
  margin-right: 100px;
}

.img-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.logo-text {
  margin-left: -10px;
  font-family: Muller;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 143.69%;
  letter-spacing: -0.02em;
  color: #000000;
}

.trans-ru {
  margin-right: 20px;
  font-family: Muller;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 143.69%;
  color: #d02b38;
}

.trans-lat {
  margin-right: 60px;
  color: rgba(0, 0, 0, 0.2);
  font-family: Muller;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 143.69%;
}

.img-loupe {
  margin-right: 20px;
}

.img-cart {
  margin-right: 15px;
}

.card-wrap {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.card {
  position: relative;
  margin: 0 50px 60px 0;
  -ms-flex-preferred-size: 45%;
  flex-basis: 45%;
}

.main-heading--red {
  display: block;
  position: absolute;
  font-family: Muller;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 143.69%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #d02b38;
  left: 0;
  right: 0;
}

button {
  border: none;
}

.button-all {
  padding: 13px 30px 13px 30px;
  display: block;
  position: absolute;
  bottom: 10%;
  max-width: 200px;
  max-height: 52px;
  background: #f9f9f9;
  border-radius: 10px;
  left: 30%;
  outline: none;
  border: none;
}

#btnLeft {
  position: relative;
  left: 40px;
}

.btn-text {
  font-family: Muller;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 143.69%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000000;
  text-decoration: none;
}

.about {
  background: #f9f9f9;
}

.about {
  padding-top: 50px;
  padding-bottom: 76px;
}

.regular-heading {
  font-family: Muller;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 143.69%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #333333;
}

.about-head::after {
  display: block;
  content: "";
  border: 4px solid #d02b38;
  width: 230px;
  margin: auto;
  margin-bottom: 50px;
}

.about-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.about-heading--red {
  font-family: Muller;
  font-style: normal;
  font-weight: 800;
  font-size: 42px;
  line-height: 143.69%;
  text-align: left;
  letter-spacing: -0.02em;
  color: #d02b38;
  margin: 0;
}

.about-text {
  font-family: Muller;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 143.69%;
  letter-spacing: 0.02em;
  color: #000000;
}

.about-logo {
  margin-right: 30px;
}

.about-info {
  display: block;
}

.reg-head::after {
  display: block;
  content: "";
  border: 4px solid #d02b38;
  width: 360px;
  margin: auto;
  margin-bottom: 20px;
}

.photos {
  font-family: Muller;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 143.69%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 50px;
}

.clothes {
  padding-top: 50px;
  padding-bottom: 75px;
}

.clothes-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.clothes-box {
  margin-left: 15px;
  margin-right: 15px;
}

.clothes-heading {
  font-family: Muller;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 143.69%;
  letter-spacing: 0.02em;
  color: #000000;
  margin: 0;
}

.clothes-text {
  font-family: Muller;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 143.69%;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.5);
}

.clothes-img {
  width: 250px;
  margin-bottom: 20px;
}

.partners {
  padding-top: 50px;
  padding-bottom: 80px;
  background: #f9f9f9;
}

.part-head::after {
  display: block;
  content: "";
  border: 4px solid #d02b38;
  width: 350px;
  margin: auto;
  margin-bottom: 60px;
}

.partners-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-between;
}

.partners-box--long {
  background: url("../img/shop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 400px;
  width: 68%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.partners-box--short {
  background: url("../img/note.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 28%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.long-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 280px 30px 35px 30px;
}

.button-all a {
  text-decoration: none;
  color: #000000;
}

.short-info {
  position: relative;
  top: -35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 170px 41px 112px 41px;
}

.long-text {
  font-family: Muller;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 143.69%;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.short-text {
  font-family: Muller;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 143.69%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.long {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f9f9f9;
  border-radius: 10px;
  margin-left: 25px;
  max-height: 45px;
  margin-top: 17px;
  max-width: 200px;
  padding-left: 60px;
}

.delivery {
  padding-top: 50px;
  padding-bottom: 64px;
}

.del-head::after {
  display: block;
  content: "";
  border: 4px solid #d02b38;
  width: 150px;
  margin: auto;
  margin-bottom: 60px;
}

.delivery-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.omniva {
  margin-right: 115px;
}

.pay {
  background: #f9f9f9;
  padding-top: 50px;
  padding-bottom: 50px;
}

.pay-head::after {
  display: block;
  content: "";
  border: 4px solid #d02b38;
  width: 270px;
  margin: auto;
  margin-bottom: 40px;
}

.pay-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pay-img {
  margin: auto;
  margin-right: 105px;
}

.footer {
  background: #181818;
  padding-top: 60px;
  padding-bottom: 30px;
  margin: 0;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 70px;
}

.footer-group-col {
  position: absolute;
  display: block;
  margin-left: 700px;
  margin-top: -120px;
}

.light-heading {
  font-family: Muller;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 143.69%;
  letter-spacing: 0.08em;
  color: rgba(255, 255, 255, 0.6);
}

.links {
  text-decoration: none;
  font-family: Muller;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 143.69%;
  letter-spacing: 0.08em;
  color: #ffffff;
  margin-bottom: 20px;
}

.mark {
  font-family: Muller;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 143.69%;
  color: #ffffff;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 50px;
}

.footer-logo {
  margin-right: 25px;
}

.form-text {
  font-family: Muller;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 143.69%;
  color: #000000;
  padding: 10px 0px 10px 10px;
  margin-bottom: 20px;
}

.form-text:focus::-webkit-input-placeholder {
  color: transparent;
}

:focus::-moz-placeholder {
  color: transparent;
}

:focus:-moz-placeholder {
  color: transparent;
}

:focus:-ms-input-placeholder {
  color: transparent;
}

.form {
  display: block;
  background: #ffffff;
  border-radius: 10px;
  text-align: center;
}

.red-btn {
  background: #d02b38;
  border-radius: 10px;
  padding: 10px 0px 10px 10px;
  font-family: Muller;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 143.69%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  outline: none;
  border: none;
}

.swiper-button-next {
  position: absolute;
  top: 3370px;
  right: 280px;
}

.swiper-button-prev {
  position: absolute;
  top: 3380px;
  left: 280px;
}

.phone-img {
  margin-left: -25px;
}

.swiper-button-prev,
.swiper-button-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  height: 30px;
  width: 30px;
}

.side-catalog {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 260px;
          flex: 1 0 260px;
  padding-right: 20px;
}

.side-catalog__title {
  font-weight: bold;
  font-size: 32px;
  line-height: 143.69%;
  letter-spacing: -0.02em;
  color: #000000;
  margin-bottom: 40px;
}

.filter__header {
  font-weight: bold;
  font-size: 19px;
  line-height: 143.69%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #dd1936;
}

.item-filter__header {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
  cursor: pointer;
}

.item-filter__header.active .item-filter__arrow {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.item-filter__header.active + .drop-filter {
  display: block;
}

.item-filter__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 143.69%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #000000;
  margin-right: 5px;
}

.item-filter__arrow {
  width: 20px;
  height: 20px;
  -webkit-transition: 0.15s linear;
  -o-transition: 0.15s linear;
  transition: 0.15s linear;
}

.drop-filter {
  padding: 5px 20px 20px 0px;
  display: none;
}

.drop-filter__title {
  display: inline;
  font-weight: bold;
  font-size: 18px;
  line-height: 143.69%;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-transition: 0.15s ease;
  -o-transition: 0.15s ease;
  transition: 0.15s ease;
}

.drop-filter__title.active {
  color: #000;
  text-decoration: underline;
}

.drop-filter__title.active + .drop-filter__body {
  display: block;
}

.drop-filter__link {
  font-weight: bold;
  font-size: 18px;
  line-height: 143.69%;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.3);
}

.drop-filter__body {
  display: none;
  padding: 25px 0;
}

.sizes-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sizes-filter__list {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.sizes-filter__item {
  margin-bottom: 10px;
}

.checkbox-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
}

.checkbox-filter:last-child {
  margin-bottom: 0;
}

.checkbox-filter__input {
  position: absolute;
  width: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
}

.checkbox-filter__input:checked + .checkbox-filter__text:after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #000;
  position: absolute;
  left: 5px;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.checkbox-filter__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-weight: 500;
  font-size: 20px;
  line-height: 143.69%;
  letter-spacing: 0.02em;
  color: #000000;
}

.checkbox-filter__text:before {
  content: "";
  margin-right: 10px;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 2px solid #000000;
}

.price-filter {
  margin-top: 20px;
  padding-left: 8px;
}

.price-filter__slider {
  width: 172px;
  height: 8px;
  background: #b3b3b3;
  border-radius: 20px;
  position: relative;
}

.price-filter__slider .noUi-base {
  position: relative;
  width: 100%;
  height: 100%;
}

.price-filter__slider .noUi-connects {
  overflow: hidden;
  z-index: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.price-filter__slider .noUi-origin {
  will-change: transform;
  position: absolute;
  width: 10%;
  height: 0;
  top: 0;
  right: 0;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform-style: flat;
          transform-style: flat;
}

.price-filter__slider .noUi-connect {
  will-change: transform;
  width: 10%;
  height: 10%;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform-style: flat;
          transform-style: flat;
}

.price-filter__slider .noUi-handle {
  width: 16px;
  height: 16px;
  position: relative;
  top: -5px;
  right: -9.5px;
  background: #d02b38;
  border-radius: 50%;
  cursor: pointer;
}

.price-filter__slider .noUi-connect {
  height: 100%;
  width: 100%;
}

.price-filter__slider .noUi-tooltip {
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap;
  font-weight: 500;
  font-size: 14px;
  line-height: 143.69%;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.3);
}

.price-filter__slider .noUi-tooltip:before {
  content: "€";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(-140%, -50%);
      -ms-transform: translate(-140%, -50%);
          transform: translate(-140%, -50%);
  font-weight: 500;
  font-size: 14px;
  line-height: 143.69%;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.3);
}

.val-price-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.val-price-filter__item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.val-price-filter__label {
  color: #999999;
  font-size: 12px;
  font-weight: 300;
  line-height: 30px;
}

.val-price-filter__input {
  margin-left: 7px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.val-price-filter__input input {
  width: 100%;
  height: 23px;
  padding-left: 5px;
}

.tabs-catalog__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 25px;
}

.tabs-catalog__wrapper {
  margin: 0 -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tabs-catalog__item {
  padding: 0 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  max-width: 25%;
  margin-bottom: 15px;
}

.nav-tabs-catalog__item {
  font-weight: bold;
  font-size: 30px;
  line-height: 143.69%;
  letter-spacing: -0.02em;
  color: rgba(51, 51, 51, 0.2);
  padding-bottom: 10px;
  border-bottom: 4px solid transparent;
  cursor: pointer;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}

.nav-tabs-catalog__item.active {
  color: #333333;
  border-color: #d02b38;
}

.nav-tabs-catalog__item + .nav-tabs-catalog__item {
  margin-left: 70px;
}

.catalog-card {
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  border: 4px solid transparent;
}

.catalog-card img {
  max-width: 100%;
  width: 100%;
}

.catalog-card__header {
  position: relative;
}

.catalog-card__category {
  position: absolute;
  top: 15px;
  left: 0;
  font-weight: bold;
  font-size: 12px;
  line-height: 143.69%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
  width: 60px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog-card__category[color="blue"] {
  background: url("../images/category-bg-blue.svg") no-repeat center;
  padding-left: 8px;
}

.catalog-card__category[color="red"] {
  background: url("../images/category-bg-red.svg") no-repeat center;
  padding-left: 1px;
}

.catalog-card__desc {
  padding: 10px 5px 20px;
  text-align: center;
  background: #f9f9f9;
}

.catalog-card__brand {
  font-weight: 500;
  font-size: 20px;
  line-height: 143.69%;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 5px;
}

.catalog-card__name {
  font-size: 12px;
  line-height: 143.69%;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 5px;
}

.catalog-card__model {
  font-weight: 500;
  font-size: 14px;
  line-height: 143.69%;
  letter-spacing: -0.02em;
  color: #000000;
  margin-bottom: 4px;
}

.catalog-card__status {
  font-weight: 500;
  font-size: 13px;
  line-height: 143.69%;
  letter-spacing: -0.02em;
  color: #2b6dd0;
}

.catalog-card__status[color="red"] {
  color: #d02b38;
}

.catalog-card__prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog-card__price {
  font-weight: bold;
  font-size: 22px;
  line-height: 143.69%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #000000;
}

.catalog-card__price[color="red"] {
  color: #d02b38;
}

.catalog-card__price--oldprice {
  text-decoration: line-through;
  margin-left: 15px;
}

.pagging {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 40px;
}

.pagging__list {
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagging__list li + li {
  margin-left: 10px;
}

.pagging__item {
  background: #f5f5f5;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: rgba(66, 78, 80, 0.6);
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}

.pagging__item.active {
  color: #d02b38;
}

.pagging__next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 140px;
  height: 40px;
  background: #f5f5f5;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #424e50;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}

.catalog-attention {
  padding: 25px 0;
  background: rgba(208, 43, 56, 0.5);
}

.catalog-attention__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog-attention__icon {
  width: 100px;
  height: 100px;
}

.catalog-attention__text {
  margin-left: 50px;
  font-weight: bold;
  font-size: 24px;
  line-height: 143.69%;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.catalog-delivery {
  margin-top: 70px;
  padding: 35px 0;
  background: #f9f9f9;
}

.catalog-delivery__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog-delivery__send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog-delivery__truck {
  -ms-flex-preferred-size: 72px;
      flex-basis: 72px;
  width: 72px;
  height: 72px;
}

.catalog-delivery__text {
  margin-left: 25px;
  font-weight: bold;
  font-size: 32px;
  line-height: 143.69%;
  letter-spacing: 0.02em;
  color: #333333;
}

.catalog-delivery__services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-catalog-delivery__item + .services-catalog-delivery__item {
  margin-left: 50px;
}

@media (min-width: 991px) {
  .drop-filter__title:hover {
    color: #000;
    text-decoration: underline;
  }

  .nav-tabs-catalog__item:hover {
    color: #333333;
    border-color: #d02b38;
  }

  .catalog-card:hover {
    border-color: #d02b38;
  }

  .pagging__item:hover {
    color: #d02b38;
  }

  .pagging__next:hover {
    color: #d02b38;
  }
}

@media (min-width: 1400px) {
  .footer-group-col {
    margin-left: 900px;
  }
}

@media (min-width: 1600px) {
  .footer-group-col {
    margin-left: 1000px;
  }
}

@media (max-width: 1890px) {
  .swiper-button-next {
    right: 230px;
  }

  .swiper-button-prev {
    left: 230px;
  }
}

@media (max-width: 1800px) {
  .swiper-button-next {
    right: 200px;
  }

  .swiper-button-prev {
    left: 200px;
  }
}

@media (max-width: 1740px) {
  .swiper-button-next {
    right: 170px;
  }

  .swiper-button-prev {
    left: 170px;
  }
}

@media (max-width: 1670px) {
  .swiper-button-next {
    right: 130px;
  }

  .swiper-button-prev {
    left: 130px;
  }
}

@media (max-width: 1580px) {
  .swiper-button-next {
    right: 90px;
  }

  .swiper-button-prev {
    left: 90px;
  }
}

@media (max-width: 1500px) {
  .swiper-button-next {
    right: 40px;
  }

  .swiper-button-prev {
    left: 40px;
  }
}

@media (max-width: 1400px) {
  .swiper-button-next {
    right: 20px;
    top: 2830px;
  }

  .swiper-button-prev {
    left: 20px;
    top: 2830px;
  }

  .heading-red {
    font-size: 12px;
  }

  .card {
    margin: 0 20px 20px 0;
    -ms-flex-preferred-size: 0%;
    flex-basis: 0%;
  }

  .card-img {
    width: 450px;
  }

  .clothes-img {
    width: 225px;
  }

  .phone-number {
    margin-right: 40px;
  }

  .img-instagram {
    margin-right: 60px;
  }

  .trans-lat {
    margin-right: 50px;
  }

  .logo {
    margin-right: 50px;
  }
}

@media (max-width: 1280px) {
  .short-info {
    top: -66px;
  }
}

@media (max-width: 1120px) {
  #btnLeft {
    height: 35px;
  }

  .btn-text {
    font-size: 13px;
    line-height: 10px;
  }

  .long-text {
    font-size: 18px;
  }

  .short-text {
    font-size: 18px;
  }

  .short-text button {
    height: 35px;
  }

  .short-info {
    top: -30px;
  }

  .shor-info {
    font-size: 8px;
  }

  .swiper-button-next {
    margin-top: -385px;
  }

  .swiper-button-prev {
    margin-top: -385px;
  }
}

@media (max-width: 1110px) {
  .card-img {
    width: 350px;
  }
}

@media (max-width: 1090px) {
  .short-info {
    top: -50px;
  }

  #btnLeft {
    left: -2px;
  }
}

@media (max-width: 910px) {
  .swiper-button-next {
    margin-top: -765px;
  }

  .swiper-button-prev {
    margin-top: -765px;
  }
}

@media (max-width: 900px) {
  .short-text {
    font-size: 16px;
    width: 80%;
  }

  .card-img {
    width: 250px;
  }

  .main-heading--red {
    font-size: 30px;
  }

  .view {
    left: 10%;
  }

  .button-all {
    left: 20%;
  }
}

@media (max-width: 640px) {
  body {
    font-size: 12px;
  }

  .view {
    width: 150px;
    height: 40px;
  }

  .btn-text {
    font-size: 13px;
    line-height: 12px;
  }

  .button-all {
    left: 20%;
  }

  .card-img {
    width: 200px;
  }

  .basket {
    display: none;
  }

  .head-img {
    display: none;
  }

  .phone-number {
    display: none;
  }

  .phone-img {
    display: none;
  }

  .img-facebook {
    display: none;
  }

  .img-instagram {
    display: none;
  }

  .trans-ru,
  .trans-lat {
    display: none;
  }

  .main-heading--red {
    font-size: 20px;
  }

  .about-heading--red {
    font-size: 22px;
  }

  .about-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .about-box {
    margin-bottom: 20px;
  }

  .clothes-img {
    width: 75px;
  }

  .clothes-heading {
    font-size: 14px;
  }

  .clothes-text {
    font-size: 10px;
  }

  .shop-img {
    width: 300px;
    margin-bottom: 20px;
  }

  .note-img {
    width: 300px;
  }

  .long-info {
    padding: 0;
    margin-top: 10px;
    margin-left: 40px;
  }

  .long-text {
    font-size: 12px;
  }

  .omniva {
    width: 40%;
  }

  .work-img {
    width: 40%;
  }

  .swiper-button-next {
    right: 0px;
    top: 1750px;
  }

  .swiper-button-prev {
    left: 0px;
    top: 1750px;
  }

  .short-text {
    font-size: 16px;
  }

  .short-info {
    padding: 100px 41px 112px 41px;
  }

  .pay-img {
    margin: 0;
    width: 30%;
  }

  .links {
    font-size: 10px;
  }

  .light-heading {
    font-size: 12px;
  }

  .form-inputs {
    width: 40%;
    position: absolute;
    margin-left: 250px;
    margin-top: 130px;
  }

  .card {
    margin: 0;
  }

  .footer-group {
    margin-right: 0;
  }

  .red-btn,
  .form {
    width: 70%;
    font-size: 12px;
  }

  .footer-imgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 500px) {
  .card-img {
    width: 150px;
  }
}

@media (max-width: 450px) {
  .card-img {
    width: 139px;
  }

  .view {
    width: 100px;
  }
}

.webp .partners-box--long{ background: url(../img/shop.webp); }

.webp .partners-box--short{ background: url(../img/note.webp); }